body{
    color: #FFFF00 !important;
    font-size: 2rem;
    background-color: rgb(33,37,41);
    scroll-behavior: smooth;
}

.verticalText{
    writing-mode: vertical-lr;
    font-size: 4rem;
    transition: all 1.5s;
}
span{
    cursor: pointer;
}
.verticalText i{
    font-size: 1.3rem;
}
p{
    transition: all 1.5s;
}
a{
    color: #FFFF00;
    cursor: pointer !important;
}
.social{
    left: 40%;
}
.word{
    opacity: 0;
}
.social i{
    padding-left: 7px;
}

.task:hover .togglex{
    opacity: 0;
}
.task:hover .word{
    opacity: 1 !important;
}


.skills .glow-on-hover {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #FFFF00;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #fff
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


/* section animation */
.reveal{
    position: relative;
    transform: translateY(180px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
